<% provide :title, t("text4") %>
<h1><%= t("text4") %></h1>
<p>
  The <%= link_to t("text6"), Settings.rb %> is a
  <%= link_to t("book"), Settings.rb2 %> and
  <%= link_to "screencast series", Settings.rb3 %>
  <%= t("text7") %>
  <%= link_to t("Ruby on Rails"), Settings.rb %>.
  <%= t("text8") %>
</p>
